<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyrival.system.role.dao.RoleDAO">

    <resultMap id="roleResultMap" type="com.tyrival.entity.system.role.Role">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="comment" column="comment"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="delFlag" column="del_flag" typeHandler="com.tyrival.typehandler.EnumTypeHandler"/>
    </resultMap>

    <sql id="columns">
        id, name, comment,  create_time, create_user_id, update_time, update_user_id, del_flag
    </sql>

    <insert id="insert">
        INSERT INTO sys_role (<include refid="columns"/>)
        VALUES (#{id}, #{name}, #{comment},  #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId}, #{delFlag.code})
    </insert>

    <update id="update">
        UPDATE sys_role
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="delFlag != null">del_flag = #{delFlag.code},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="roleResultMap">
        SELECT
        <include refid="columns"/>
        FROM sys_role
        WHERE id = #{id} AND del_flag = 0
    </select>

    <select id="list" parameterType="com.tyrival.entity.base.QueryParam" resultMap="roleResultMap">
        SELECT
        <include refid="columns"/>
        FROM sys_role
        <where>
            del_flag = 0
            <if test="queryParam != null and queryParam.filters != null">
                <foreach item="filter" collection="queryParam.filters">
                    ${filter.relation} ${filter.property} ${filter.symbol} #{filter.value}
                </foreach>
            </if>
        </where>
        <if test="queryParam.orders != null">
            ORDER BY
            <foreach item="order" collection="queryParam.orders" separator=",">
                ${order.property} ${order.type}
            </foreach>
        </if>
    </select>


</mapper>
