<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tyrival.vision.screen.dao.DynamicComponentDAO">

    <resultMap id="dynamicComponentResultMap" type="com.tyrival.entity.vision.screen.DynamicComponent">
        <result property="id" column="id"/>
        <result property="text" column="text"/>
        <result property="category" column="category"/>
        <result property="name" column="name" typeHandler="com.tyrival.typehandler.EnumTypeHandler"/>
        <result property="image" column="image"/>
        <result property="config" column="config"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="delFlag" column="del_flag" typeHandler="com.tyrival.typehandler.EnumTypeHandler"/>
    </resultMap>

    <sql id="columns">
        id, text, category, name, image, config, create_time, create_user_id, update_time, update_user_id, del_flag
    </sql>

    <insert id="insert">
        INSERT INTO vi_dynamic_component (<include refid="columns"/>)
        VALUES (#{id}, #{text}, #{category}, #{name}, #{image}, #{config}, #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId}, #{delFlag.code})
    </insert>

    <update id="update">
        UPDATE vi_dynamic_component
        <set>
            <if test="text != null">text = #{text},</if>
            <if test="category != null">category = #{category},</if>
            <if test="name != null">name = #{name.code},</if>
            <if test="image != null">image = #{image},</if>
            <if test="config != null">config = #{config},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="delFlag != null">del_flag = #{delFlag.code},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="dynamicComponentResultMap">
        SELECT
        <include refid="columns"/>
        FROM vi_dynamic_component
        WHERE id = #{id} AND del_flag = 0
    </select>

    <select id="list" parameterType="com.tyrival.entity.base.QueryParam" resultMap="dynamicComponentResultMap">
        SELECT
        <include refid="columns"/>
        FROM vi_dynamic_component
        <where>
            del_flag = 0
            <if test="queryParam != null and queryParam.filters != null">
                <foreach item="filter" collection="queryParam.filters">
                    ${filter.relation} ${filter.property} ${filter.symbol} #{filter.value}
                </foreach>
            </if>
        </where>
        <if test="queryParam.orders != null">
            ORDER BY
            <foreach item="order" collection="queryParam.orders" separator=",">
                ${order.property} ${order.type}
            </foreach>
        </if>
    </select>

</mapper>
